<div class="row2">
<div class="column2 side2">
</div>
<div class="column2 middle2">

<% if @profile.user ==current_user  %>
<h4 style="text-align:right; "><%= link_to 'Edit Profile', edit_profile_path(@profile) , class: "btn btn-info" %></h4> 
<% end %>
<p id="notice"><%= notice %></p>
<table>
<p>
<tr>
  <th><strong>Organization :     </strong></th>
              <td><%= @profile.organization %></td>
  <th> <a href="<%=@profile.image.url(:original) %>" target="_blank"><%= image_tag @profile.image.url(:medium) %></a>
     <% unless current_user.profile.image.present? %>
     <h6 style="font-weight: bold;"> <%= link_to 'Upload Profile Pic',edit_profile_path(@profile) %></h6>
   <% end %>
   </th>
</tr>
</p>

<p>
<tr>
  <th><strong>Total Employees : </strong></th>
  <td><%= @profile.employees %></td>
  <th style="width: 25%"><%= @profile.firstname %>   <%= @profile.lastname %></th>
  </tr>
</p>

<p>
<tr>
 <th> <strong>Website :</strong></th>
  <td><%= @profile.website %></td>
  </tr>
</p>

<p>
<tr>
  <th><strong>Designation :</strong></th>
  <td><%= @profile.designation %></td>
</tr>
</p>

<p>
<tr>
  <th><strong>Email id :</strong></th>
  <td><%= @profile.email %></td>
  </tr>
</p>
<p>
<tr>
  <th><strong>Travel segments :</strong></th>
  <td><%= @profile.segments %></td>
  </tr>
</p>
<p>
<tr>
 <th> <strong>Deals on :</strong></th>
  <td><%= @profile.deals %></td>
  </tr>
</p>
<p>
<tr>
 <th> <strong>Department :</strong></th>
  <td><%= @profile.department %></td>
  </tr>
</p>

<p>
<tr>
 <th> <strong>Headoffice :</strong></th>
 <td> <%= @profile.headoffice %></td>
  </tr>
</p>
<p>
<tr>
 <th> <strong>Branches :</strong></th>
  <td><%= @profile.branches %></td>
  </tr>
</p>

<p>
<tr>
 <th ><strong>Aboutus :</strong></th>
  <td><%= @profile.aboutus %></td>
  </tr>
</p>
</table>
</div>

<div class="column2 side2">
</div>
</div>






</table>

