<p id="notice"><%= notice %></p>





<div class="link row clearfix">
  <h1 style="text-align: left;"><%= @office.location %></h1>
</div>

<% if @office.seller==current_seller %>

	<div class="btn-group">
		<%= link_to 'Edit', edit_office_path(@office), class: "btn btn-default" %>
		<%= link_to 'Back', offices_path, class: "btn btn-default" %>
		<%= link_to 'Destroy', @office, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>