<p id="notice"><%= notice %></p>



<p>
  <strong></strong>
  <%= @comment.body %>
</p>



<div id="commentreplies">
  <%= render :partial => @comment.commentreplies %>
</div>
<%= simple_form_for [@comment, Commentreply.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Reply", class: "btn btn-primary" %>
<% end %>