
<ul class="nav navbar-nav navbar-right">
  <li style="font-weight: bold;" ><%= link_to 'Add Your Topic', new_topic_path %></li>
</ul>
<% @topics.each do |topic| %>

 
 <table>
  <tr>
    <th><strong> <%= topic.user.profile.firstname %> (<%= (topic.user.profile.designation) %>)</strong> <small style="font-size: 15px;"><%= time_ago_in_words(topic.created_at) %> ago </small></th> 
  </tr>
  <tr>
    <td ><%=  topic.discussions %></td>
  </tr>
  <tr>
   <td> <%= topic.details %></td>
  </tr>
  <tr>
  <td>
  <button><%= topic.comments.count %>comments</button>
  </td>
  </tr>


<tr>
<td>



 
      <%= render :partial => topic.comments %>
   

    <%= form_for [topic, topic.comments.new]  do |f| %>
      
      
            <%= f.text_area :body, rows: 2, cols: 60,
                            placeholder: "Write a comment..." %>
         
            <%= f.submit ' Comment' %>
      
      
    <% end %>
 

 </td>
 </tr> 
  
</table></br>




<% end %>
