<ul class="nav navbar-nav navbar-right">
  <li ><%= link_to 'Add Your Topic', new_topic_path %></li>
</ul>
<% @topics.each do |topic| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to topic.discussions ,topic%><br>
      <small class="author">Submitted <%= time_ago_in_words(topic.created_at) %> by <%= topic.user.email %></small>
    </h2>
    <h3>
       <%= link_to topic.details ,topic %><br>
       </h3>

  </div>

  <% end %>
 