<div class="row2">
<div class="column2 side2" style="width: 20%;">
</div>
<div class="column2 middle2" style="width: 60%;">
<ul class="nav navbar-nav navbar-right">
  <h6 style="float: right;" ><%= link_to 'Add Your Topic', new_topic_path , class: "btn btn-info" %></h6>
</ul>
<% @topics.each do |topic| %>

 
 <table>
  <tr>
    <th><strong> <%= topic.user.profile.firstname %> (<%= (topic.user.profile.designation) %>)</strong> <small style="font-size: 15px;"><%= time_ago_in_words(topic.created_at) %> ago </small></th> 
  </tr>
  <tr>
    <td ><%=  topic.discussions %></td>
  </tr>
  <tr>
   <td> <%= topic.details %></td>
  </tr>
 
 


<tr>
<td>
<br /><%= topic.comments.count %><input type="button" class="myButton" value="comments"/>
<div class="myDiv">



 
      <%= render :partial => topic.comments %>
   

    <%= form_for [topic, topic.comments.new]  do |f| %>
      
      
            <%= f.text_area :body, rows: 2, cols: 60,
                            placeholder: "Write a comment..." %>
         
            <%= f.submit ' Comment' %>
      
      
    <% end %>
 
</div>
 </td>
 </tr> 
  
</table></br>




<% end %>


<script type="text/javascript">
  $('.myButton').on('click', function (event) {
     $(this).next('.myDiv').toggle('swing');
});
</script>
</div>

<div class="column2 side2" style="width: 20%;">
</div>
</div>