

<h3 class="comments_title">
  <%= @topic.comments.count %> Comments
</h3>

<div id="comments">
  <%= render :partial => @topic.comments %>
</div>
<%= simple_form_for [@topic, Comment.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
<ul class="nav navbar-nav navbar-left">
  <li ><%= link_to 'Back', topics_path %></li>
</ul>
