<p id="notice"><%= notice %></p>

<p class="link row clearfix">
  <strong>Discussions:</strong>
  <%= @topic.discussions %>
</p>

<p class="link row clearfix">
  <strong>Details:</strong>
  <%= @topic.details %>
</p>
<% if @topic.user==current_user %>

	<div class="btn-group">
		<%= link_to 'Edit', edit_topic_path(@topic), class: "btn btn-default" %>
		<%= link_to 'Back', topics_path, class: "btn btn-default" %>
		<%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>
<div class="btn-group pull-right">
  <%= link_to like_topic_path(@topic), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    Upvote
    <%= @topic.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_topic_path(@topic), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down">
    Downvote
    <%= @topic.get_downvotes.size %>
  <% end %>
</div>
<h3 class="comments_title">
  <%= @topic.comments.count %> Comments
</h3>

<div id="comments">
  <%= render :partial => @topic.comments %>
</div>
<%= simple_form_for [@topic, Comment.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>