

<style>


table {
    border: 1px solid #ddd; 
    width: 125%;
}
 th {
    padding: 30px;
       text-align: left;
       font-weight:  bold;
                font-size: 25px;
                border-left:  1px solid #ddd; 
      
}


 td {
    padding: 30px;
    font-weight:  normal;
     font-size: 20px;
     border-bottom:  1px solid #ddd; 
          border-top:  1px solid #ddd; 
           border-left:  1px solid #ddd; 
}
</style>
<ul class="nav navbar-nav navbar-right">
  <li ><%= link_to 'Add My Doubt', new_my_doubt_path %></li>
</ul>
<p id="notice"><%= notice %></p>
 <table>
  <tr>
    <th>Destination</th>
    <th>Doubt details</th>
    <th>Reply from Seller</th>
  </tr>


<% if current_user.company.present? %>
<% if current_user.company.stall.present? -%>
   <% @my_doubts.each do |my_doubt| %>

  <tr>
    <td><%= my_doubt.destination %></td>
    <td><%= my_doubt.doubt_details %></td>
    <td><%= link_to my_doubt.replies.count ,my_doubt %></td>

  </tr>

 


  <% end %>
  <% end %>
  <% else %>



  <% @my_doubts.each do |my_doubt| %>
    <% if current_user==my_doubt.user %>


  <tr>
    <td><%= my_doubt.destination %></td>
    <td><%= my_doubt.doubt_details %></td>
    <td><%= link_to my_doubt.replies.count ,my_doubt %></td>
   
 
</tr>

<% end %>
<% end %>
<% end %>
</table>