<div class="row2">
<div class="column2 side2">
</div>
<div class="column2 middle2">


<ul class="nav navbar-nav navbar-right">
  <h6 style="float: right;" ><%= link_to 'Add My Doubt', new_my_doubt_path , class: "btn btn-info"%></h6>
</ul>
<p id="notice"><%= notice %></p>
 <table>
  <tr>
    <th>Destination</th>
    <th>Doubt details</th>
    <th>Reply from Seller</th>
  </tr>






  <% @my_doubts.each do |my_doubt| %>
    <% if current_user==my_doubt.user %>


  <tr>
    <td><%= my_doubt.destination %></td>
    <td><%= my_doubt.doubt_details %></td>
    <td><%= link_to my_doubt.replies.count ,my_doubt %></td>
   
 
</tr>


<% end %>
<% end %>
</table>
</div>

<div class="column2 side2">
</div>
</div>