

<style>


table {
    border: 1px solid #ddd; 
    width: 125%;
}
 th {
    padding: 15px;
       text-align: left;
       font-weight:  bold;
                font-size: 25px;
                border-left:  1px solid #ddd; 
      
}


 td {
    padding: 30px;
    font-weight:  normal;
     font-size: 20px;
     border-bottom:  1px solid #ddd; 
          border-top:  1px solid #ddd; 
           border-left:  1px solid #ddd; 
}
</style>
<p id="notice"><%= notice %></p>
<% if current_user==@my_doubt.user %>
<table>
  <tr>
    <th>Destination</th>
    <th>Doubt details</th>
    
    <th></th>
  </tr>

  <tr>
    <td><%= @my_doubt.destination %></td>
    <td><%= @my_doubt.doubt_details %></td>
  
  
  
 
</tr>
</table>
<div id="replies">
  <%= render :partial => @my_doubt.replies %>
</div>

<% end %>
<% if seller_signed_in? %>
 <table>
  <tr>
    <th>Destination</th>
    <th>Doubt details</th>
    <th>Reply from Seller</th>
  </tr>

  <tr>
    <td><%= @my_doubt.destination %></td>
    <td><%= @my_doubt.doubt_details %></td>
 

  </tr>

 

</table></br>
 
  

<div id="replies">
  <%= render :partial => @my_doubt.replies %>
</div>
<%= simple_form_for [@my_doubt, Reply.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add replies", class: "btn btn-primary" %>
<% end %>


 <% end %></br>




