<div class="row2">
<div class="column2 side2">
</div>
<div class="column2 middle2">

<p id="notice"><%= notice %></p>

<h1>Contacts</h1>
<table>

    <tr>

    <th>Name</th>
     
      <th>Email id</th>
      <th>Designation</th>
        <th>Department</th>
      <th>Travel segments</th>
      <th>Deals on</th>
      <th>Head Office Location</th>
      <th>Contact Name</th>
       <th>Contact Number</th>
       

      <th colspan="3"></th>
    </tr>
 

    <% @contacts.each do |contact| %>

 
      <tr>
      <td><%= contact.user.profile.organization %></td>
      
        <td><%= contact.user.profile.email %></td>
       
        <td><%= current_user.profile.designation %></td>
        <td><%= contact.department %></td>
          <td><%= current_user.profile.segments %></td>
          <td><%= current_user.profile.deals %></td>
           <td><%= current_user.profile.headoffice %></td>
            <td><%= current_user.profile.firstname %></td>
             <td><%= contact.number %></td>
             
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
  
    
  
    </tr>
    <% end %>
</table>

  

<br>
<%= link_to ' Add contact details ', new_contact_path %>
</div>

<div class="column2 side2">
</div>
</div>
