<p id="notice"><%= notice %></p>





<div class="link row clearfix">
  <h1 style="text-align: left;"><%= @deal.destinations %></h1>
</div>

<% if @deal.seller==current_seller %>

	<div class="btn-group">
		<%= link_to 'Edit', edit_deal_path(@deal), class: "btn btn-default" %>
		<%= link_to 'Back', deals_path, class: "btn btn-default" %>
		<%= link_to 'Destroy', @deal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>