<p id="notice"><%= notice %></p>
<td><%= @about.about_us %></td>
        <td><%= @about.destination %></td>
           <td><%= @about.contact %></td>
        <td><%= @about.office %></td>
        <td><%= @about.travel_segment %></td>
<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>
