<div class="row2">
<div class= 'column2 side2'>
</div>
<div class='column2 middle2'>
<%= form_for @stall, html: {multipart: true} do |f| %>
  <% if @stall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stall.errors.count, "error") %> prohibited this stall from being saved:</h2>

      <ul>
      <% @stall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Cover photo</h3>
  <div class="form-group">
 
     <%= f.file_field :avatar, class: "form-control" %>
  
    <h3>Stall photo</h3>
  </div>
   <div class="form-group">
   
    <%= f.file_field :image, class: "form-control" %>
    
  </div>
  <h3>About us</h3>
  <div class="form-group">
  
    <%= f.text_area :about, class: "form-control" %>
  </div>

<br>
   <h3> Office location</h3>
    <div class="form-group">
  
    <%= f.text_area :offices,placeholder: "Office address..............." %>
  </div>
 
  <br>
  <div class="form-group">
    <%= f.submit "submit", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
</div>
<div class= 'column2 side2'>
</div>
</div>