<%= form_for @stall, html: {multipart: true} do |f| %>
  <% if @stall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stall.errors.count, "error") %> prohibited this stall from being saved:</h2>

      <ul>
      <% @stall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :About_Us %><br>
    <%= f.text_field :about, class: "form-control" %>
  </div>
<br>
  <h3>Travel Segments</h3>
  <div class="form-group">
    <%= label_tag 'segments_FIT','FIT'  %>
    <%= check_box_tag 'stall[segments][]','FIT',checked('FIT'),id: 'segments_FIT' %>
  </div>
  <div class="form-group">
    <%= label_tag 'segments_Religious_culture_&_heritage_tours','Religious_culture_&_heritage_tours'  %>
    <%= check_box_tag 'stall[segments][]','Religious_culture_&_heritage_tours',checked('Religious_culture_&_heritage_tours'),id: 'segments_Religious_culture_&_heritage_tours' %>
  </div>
  <div class="form-group">
    <%= label_tag 'segments_Arilines','Arilines'  %>
    <%= check_box_tag 'stall[segments][]','Arilines',checked('Arilines'),id: 'segments_Arilines' %>
  </div>
  <div class="form-group">
    <%= label_tag 'segments_Health_&_Wellness','Health_&_Wellness'  %>
    <%= check_box_tag 'stall[segments][]','Health_&_Wellness',checked('Health_&_Wellness'),id: 'segments_Health_&_Wellness' %>
  </div>

  <div class="form-group">
    <%= label_tag 'segments_cruises','cruises'  %>
    <%= check_box_tag 'stall[segments][]','cruises',checked('cruises'),id: 'segments_cruises' %>
  </div>
  <div class="form-group">
    <%= label_tag 'segments_Railway','Railway'  %>
    <%= check_box_tag 'stall[segments][]','Railway',checked('Railway'),id: 'segments_Railway' %>
  </div>
  <div class="form-group">
    <%= label_tag 'segments_Adventures_&_sports_tourism','Adventures_&_sports_tourism'  %>
    <%= check_box_tag 'stall[segments][]','Adventures_&_sports_tourism',checked('Adventures_&_sports_tourism'),id: 'segments_Adventures_&_sports_tourism' %>
  </div>
   <div class="form-group">
    <%= label_tag 'segments_Git','Git'  %>
    <%= check_box_tag 'stall[segments][]','Git',checked('Git'),id: 'segments_Git' %>
  </div>
   <div class="form-group">
    <%= label_tag 'segments_Accommodation','Accommodation'  %>
    <%= check_box_tag 'stall[segments][]','Accommodation',checked('Accommodation'),id: 'segments_Accommodation' %>
  </div>
  <div class="form-group">
    <%= label_tag 'segments_Wedding_&_Honeymoon','Wedding_&_Honeymoon'  %>
    <%= check_box_tag 'stall[segments][]','Wedding_&_Honeymoon',checked('Wedding_&_Honeymoon'),id: 'segments_Wedding_&_Honeymoon' %>
  </div>
  <div class="form-group">
    <%= label_tag 'segments_Ticketing','Ticketing'  %>
    <%= check_box_tag 'stall[segments][]','Ticketing',checked('Ticketing'),id: 'segments_Ticketing' %>
  </div>
  <div class="form-group">
    <%= label_tag 'segments_coach','coach'  %>
    <%= check_box_tag 'stall[segments][]','coach',checked('coach'),id: 'segments_coach' %>
 <br>
  <div class="form-group">
    <%= f.label :Deals_on  %><br>
    <%= f.text_field :destinations, class: "form-control" %>
  </div>
<br>
  <div class="form-group">
    <%= f.label :Contact_details  %><br>
    <%= f.text_field :contacts, class: "form-control" %>
  </div>
 <br>
  
    <div class="form-group">
    <%= f.label :office_location  %><br>
    <%= f.text_field :offices, class: "form-control" %>
  </div>
 
  <br>
  <div class="form-group">
    <%= f.submit "submit", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>