<div class="row2">
<div class="column2 side2">
</div>
<div class="column2 middle2">
    <% if current_user.company.present? %>
<% if current_user.company.stall.present? %>
<% if  @stall.company.user == current_user %>
<ul class="online">
 <li class="active"> <%= link_to 'Online Stall', stall_path%></li>
  <li> <%= link_to 'Queries', custom_my_query_queries_path %></li>
      <li> <%= link_to 'Doubts',custom_my_doubt_doubts_path %></li>
        <li> <%= link_to 'Recent Registred Buyers', stall_path %></li>
           <% end %>
           <% end %>
<% end %> 
</ul>
  <h1 > <% if @stall.avatar.present? %>
  <a href="<%=@stall.avatar.url(:original) %>" target="_blank"><%= image_tag @stall.avatar.url(:large ) %></a></h1></br>
  <% else %>
  <h6 style="text-align: center;padding: 30px;"><%= link_to 'upload cover pic', edit_stall_path(@stall)%></li></h6>
  <% end %>
  <ul class="offline">
  <li class="active"> <%= link_to 'About_Us', stall_path%></li>
    <li><%= link_to 'promotions', custom_stall_promotions_path %></li>
    <li > <%= link_to 'Gallery', stall_path%></li>
   <li> <%= link_to 'Brouchers', custom_stall_brouchers_path %></li>
   <li> <%= link_to 'Reviews', custom_stall_reviews_path %></li>
     <li style="background-color: white;">  <%= link_to '', stall_path%></li>
    
    
      <li style="border: 1px solid skyblue;" >
           <% if @stall.image.present? %>
       <a href="<%=@stall.image.url(:original) %>" target="_blank"><%= image_tag @stall.image.url(:medium) %></a>
        <% else %>
          <%= link_to 'upload stall pic', edit_stall_path(@stall)%>
        <% end %>
       </li> 
      <li style="background-color: white;">  <%= link_to '', stall_path%></li>
       <li style=" background-color: green;"><%= link_to 'chat', conversations_path(user_id: @users), remote: true, method: :post %></li>

</ul>

      <div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>


<table>
   <tr>
    <td><%= @stall.about %></td>  
  </tr>
</table>

<table>
  <tr>
    <th>Travel Segment</th>
    <th>Deals on</th>
  </tr>

  <tr>
    <td style="width: 55%;"><%= @stall.company.user.profile.segments %></td>
    <td><%= @stall.destination %></td>
   
  </tr>


  <tr>
    <th>Office Location</th>
    <th>Contact Details</th>
    
  </tr>
  <tr>
    <td><%= @stall.offices %></td>
 
    <td>
    <% if current_user.company.present? %>
<% if current_user.company.stall.present? %>
<% if  @stall.company.user == current_user %>
      <h3 style="text-align: right;"><%= link_to '+add', custom_stall_contacts_path  %></h3>

<% end %>
<% end %>
<% end %>
           <i class="glyphicon glyphicon-user"></i> 
         <h5><%= @stall.company.user.profile.firstname %> <%= @stall.company.user.profile.lastname %></h5>
       <h5> <%= @stall.company.user.profile.designation %></h5>
       <h5>  <%= @stall.company.user.profile.email %></h5>

  </td>
  </tr>
     
</table>

    
                          
            
<p id="notice"><%= notice %></p>

<% if current_user.company.present? %>
<% if current_user.company.stall.present? %>
<% if  @stall.company.user == current_user %>
 <%= link_to 'Destroy', @stall, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  <%= link_to 'Edit', edit_stall_path(@stall), class: "btn btn-info" %>
  </div>
  <div class="column2 side2">
  </div>
  </div> 
	<div class="footer">
	
  <%= link_to 'Website', stall_path(@stall), class: "btn btn-info" %>
	
</div>
<% end %>
<% end %>
<% end %>
