
<header>
  <h1 style="width: 150%;"><%= image_tag @stall.image.url(:large) %></h1></br>
    <button type="button" class="btn btn-info"> About US</button>
    <button type="button" class="btn btn-info"> <%= link_to 'promotions', custom_stall_promotions_path %></button>
    <button type="button" class="btn btn-info">Gallery</button>
    <button type="button" class="btn btn-info"><%= link_to 'Brouchers', custom_stall_brouchers_path %></button>
    <button type="button" class="btn btn-info"><%= link_to 'Reviews', custom_stall_reviews_path %></button> 
     <button type="button" class="btn btn-default"><%= image_tag @stall.image.url(:large) %></button> 
</header> 
<style>
 td, th {    
    text-align: left;
    font-size: 20px;
   
}

table {

    width: 150%;
    height: 75%;
}
 th {
    padding: 15px;
       background-color: lightblue;
       font-weight:  normal;
       border-left: 1px solid #ddd; 
}


 td {
    padding: 100px;
    font-weight:  bold;
    border-left: 1px solid #ddd; 
    border-right: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 

}
</style>

<table>
   <tr>
    <td><%= @stall.about %></td>  
  </tr>
</table>

<table>
  <tr>
    <th>Travel Segment</th>
    <th>Deals on</th>
  </tr>

  <tr>
    <td><%= @stall.segments %></td>
    <td><%= @stall.destinations %></td>
   
  </tr>


  <tr>
    <th>Office Location</th>
    <th>Contact Details</th>
  </tr>
  <tr>
    <td><%= @stall.offices %></td>
    <td><%= @stall.contacts %></td>
    
   
  </tr>
</table>


  
                          
            
<p id="notice"><%= notice %></p>


<% if seller_signed_in? %>

	<div class="btn-group">
		<%= link_to 'Edit', edit_stall_path(@stall), class: "btn btn-default" %>
		<%= link_to 'Destroy', @stall, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>

<% end %>
