<div class="row2">
<div class="column2 side2" style="width: 20%;">
</div>
<div class="column2 middle2" style="width: 60%;">
<%= simple_form_for [@stall, Review.new]  do |f| %>
<h3 >Write Review</h3>


    <div class="form-group">
    <%= f.radio_button :rating, 'average' %>Average</br>
    <%= f.radio_button :rating, 'good' %>Good</br>
    <%= f.radio_button :rating, 'excellent' %>Excellent</br>
    <%= f.text_area :body %></br>
  
  <%= f.submit "Add review", class: "btn btn-primary" %>
<% end %></div></br>
<div id="reviews">
  <%= render :partial => @stall.reviews.order(created_at: :desc) %>
</div>

<ul class="nav navbar-nav navbar-left">
  <li ><%= link_to 'Back', stall_path(@stall), class: "btn btn-info" %></li>
</ul>


</div>
<div class="column2 side2" style="width: 20%;">
</div>
</div>