
<p id="notice"><%= notice %></p>

<h1>Contacts</h1>




  
    <% @contacts.each do |contact| %>
           
 
       
        
         
         <div style="text-align: center;">
            <h3><%=  contact.user.profile.firstname %></h3></br>
             <h4><%= contact.user.profile.organization %></h4></br>
              <h4><%= contact.user.profile.email %></h4></br>
              <h4><%= contact.user.profile.department %></h4></br>
              
        <h4><%= contact.user.profile.designation %></h4></br>
 
      <%= link_to 'Add Contact', stall_path(@stall) %>
      </div>
    <% end %>
  


<br>
