<p id="notice"><%= notice %></p>




<div class="link row clearfix">
  <%= link_to "Download", @broucher.document_url %>
 
</div>

<div class="link row clearfix">
  <h1 style="text-align: left;"><%= @broucher.title %></h1>
</div>

<% if seller_signed_in? %>

	<div class="btn-group">
		<%= link_to 'Edit', edit_broucher_path(@broucher), class: "btn btn-default" %>
		<%= link_to 'Back', brouchers_path, class: "btn btn-default" %>
		<%= link_to 'Destroy', @broucher, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>