<div class="row2">
<div class="column2 side2">
</div>
<div class="column2 middle2">
<%= form_for @promotion,   html: {  multipart: true} do |f| %>
  <% if @promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
      <% @promotion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Destination %><br>
    <%= f.text_area :destination, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :details %><br>
    <%= f.text_area :details, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit "create promotion", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
</div>

<div class="column2 side2">
</div>
</div>