 <% if seller_signed_in? -%>
 
 	<%= link_to ' promotion', new_promotion_path %>
 	 

<% end %> 


<% @promotions.each do |promotion| %>
<% if current_seller==promotion.seller %>

  <div class="link row clearfix">
    	 
       <h2 class="author"> <%= link_to promotion.seller.website ,home_online_stall_path %><small class="author"> <%= time_ago_in_words(promotion.created_at) %>  ago</small></h2> </br>
    <h2 style="text-align: center;">
      <%= link_to promotion.destination, promotion %>
     </h2>
     
     <h2 style="text-align: center;">
      <%= link_to promotion.details, promotion %>
     </h2>
 </div>
<% else %>
  <div class="link row clearfix">
    	 
       <h2 class="author"> <%= link_to promotion.seller.website ,home_online_stall_path %><small class="author"> <%= time_ago_in_words(promotion.created_at) %>  ago</small></h2> </br>
    <h2 style="text-align: center;">
      <%= link_to promotion.destination, promotion %>
     </h2>
     
     <h2 style="text-align: center;">
      <%= link_to promotion.details, promotion %>
     </h2>
 </div>

<% end %>
 <% end %>
