<h3 style="text-align: right;"><%= link_to 'Add My Query', new_my_query_path %></h3>
<style>


table {
    border: 1px solid #ddd; 
    width: 125%;
}
 th {
    padding: 30px;
       text-align: left;
       font-weight:  bold;
                font-size: 15px;
                border-left:  1px solid #ddd; 
      
}


 td {
    padding: 30px;
    font-weight:  normal;
     font-size: 20px;
     border-bottom:  1px solid #ddd; 
          border-top:  1px solid #ddd; 
          border-right: 1px solid #ddd; 
         
}
</style>
<p id="notice"><%= notice %></p>

<h1>My Queries</h1>
    <table>
  <tr>
       <th  >Query Number</th>
      <th >Destination</th>
      <th  >No.of Pax</th>
      <th >travel date</th>
      <th >Duration</th>
      <th >Tour Requirements</th>
      <th >Quotes Received</th>
  </tr>
  <% if current_user.company.present? %>
<% if current_user.company.stall.present? -%>
 <% @my_queries.each do |my_query| %>
       <tr>
          <td ><%= my_query.query_number %></td>
        <td ><%= my_query.destination %></td>
           <td><%= my_query.pax %> adults, <%= my_query.child %> children</td>
        <td ><%= my_query.travel_date %></td>
        <td><%= my_query.duration %></td>
        <td ><%= my_query.tour_requirements %></td>
        <td><%= link_to my_query.quotes.count ,my_query %></td>

  </tr>
       <% end %>
       <% end %>
    <% else %>
    
    <% @my_queries.each do |my_query| %>
    <% if current_user==my_query.user %>
    
       <tr>
          <td ><%= my_query.query_number %></td>
        <td ><%= my_query.destination %></td>
           <td><%= my_query.pax %> adults, <%= my_query.child %> children</td>
        <td ><%= my_query.travel_date %></td>
        <td><%= my_query.duration %></td>
        <td ><%= my_query.tour_requirements %></td>
        <td><%= link_to my_query.quotes.count ,my_query %></td>

  </tr>
 
     
    
    <% end %>
    <% end %>
    <% end %>
</table>

 
<br>

