
<style>


table {
    border: 1px solid #ddd; 
    width: 125%;
}
 th {
    padding: 30px;
       text-align: left;
       font-weight:  bold;
                font-size: 15px;
                border-left:  1px solid #ddd; 
      
}


 td {
    padding: 30px;
    font-weight:  normal;
     font-size: 20px;
     border-bottom:  1px solid #ddd; 
          border-top:  1px solid #ddd; 
           border-left:  1px solid #ddd; 
}
</style>
<p id="notice"><%= notice %></p>
<% if current_user==@my_query.user %>
<table >
  
    <tr>
      <th  >Query Number</th>
      <th >Destination</th>
      <th  >No.of Pax</th>
      <th  >travel date</th>
      <th  >Duration</th>
      <th  >Tour Requirements</th>
      <th  >Quotes recevied</th>
    </tr>
 
 
      <tr>
        <td ><%= @my_query.query_number %></td>
        <td ><%= @my_query.destination %></td>
        <td ><%= @my_query.pax %>adults<%= @my_query.child %>children</td>
        <td ><%= @my_query.travel_date %></td>
        <td ><%= @my_query.duration %></td>
        <td ><%= @my_query.tour_requirements %></td>
         <td><%=  @my_query.quotes.count %></td>
        
     
        
     
      
       
      </tr>
    
  
</table>
<div id="replies">
  <%= render :partial => @my_query.quotes %>
</div>

<% else %>
<% if current_user.company.present? %>
<% if current_user.company.stall.present? -%>
 <table>
     <tr>
      <th  >Query Number</th>
      <th >Destination</th>
      <th  >No.of Pax</th>
      <th  >travel date</th>
      <th  >Duration</th>
      <th  >Tour Requirements</th>
       <th  >Quotes recevied</th>
    
    </tr>

      <tr>
        <td ><%= @my_query.query_number %></td>
        <td ><%= @my_query.destination %></td>
        <td ><%= @my_query.pax %></td>
        <td ><%= @my_query.travel_date %></td>
        <td ><%= @my_query.duration %></td>
        <td ><%= @my_query.tour_requirements %></td>
          <td><%= link_to @my_query.quotes.count ,@my_query %></td>
        
     
        
     
      
       
      </tr>
 

</table></br>
 
  
<div id="quotes">
  <%= render :partial => @my_query.quotes %>
</div>
<%= simple_form_for [@my_query, Quote.new]  do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add quotes", class: "btn btn-primary" %>
<% end %>

<% end %>
<% end %>
<% end %>

     <h4> <%= link_to 'Back', my_queries_path %></h4>
 


