<!DOCTYPE html>
<html>
<head>
  <title>InventTravel</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>


						

						
	<div class="header">
	
	 <ul id="a">

<% if user_signed_in? -%>
								 <li class="active" style="background-color: gray; "><%= link_to "Invent Travel" , root_path  %></li>

								 	<li style="float: right;"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete  %></li>
							<li style="float: right;"><%= link_to 'Become Seller', home_stall_path %></li>
							        	
        	        <li  style="float: right;"  data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
          <a  type="button" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-bell"></span> <span data-behavior="unread-count"></span>
          </a>
          <div style="background-color: lightgray; width: 100%; " 
          class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
            <!--
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            -->
          </div>
        </li>
							 <li class="active" style="float: right;"><%= link_to "Home" , root_path  %></li>
						


						
					<% else -%>
						
							<li><%= link_to 'Sign up', new_user_registration_path %></li>
							<li><%= link_to 'Sign in', new_user_session_path %></li>
						
					<% end -%>
          
   </ul>


</div>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>

				<%= yield %>
			
		

</body>
</html>

